## Recursive Function

In [ ]:
def f (n):
  print("f(%d)" %n)
  if n >= 1:
       result = n + f(n-1)
       print("-- return value at %d : %d -- " %(n,result))
  else:
       result = 1
  return result

print(f(5))

## Fibonacci sequence

In [ ]:

# Function for nth Fibonacci number
 
def Fibonacci(n):
    if n<0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n==0:
        return 0
    # Second Fibonacci number is 1
    elif n==1:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
 
# Driver Program
 
print(Fibonacci(9))
 
#This code is contributed by Saket Modi

## แบบฝึกหัด 1

In [ ]:
# 1



print(fact(15))


#2 



print(remain_students(0.9,5))

## Lambda function

In [ ]:
double = lambda x: x * 2

print(double(5))

sum = lambda x, y : x + y
print(sum(3,4))

In [ ]:
data = [5, 3, 8, 7, 1]
check = lambda x: 'Pass' if x>= 5 else 'Fail'

print(check(7))
print ([ check(i) for i in data])

check2 = lambda x: 1 if x >= 5 else 0
print (check2(7))
print ([ check2(i) for i in data])

## แบบฝึกหัด 2

In [ ]:
money = [ 500, 1000, 300,  800] 

#1

print(discount (1000,5))

#2

print(checknumber(1))
print(checknumber('a'))

#3

print(calDiscount(2000))
print(calDiscount(200))

#4

print([calVAT(i) for i in money])

## Using def function with filter function

In [ ]:
def vowel(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
      return True
    else:
      return False

sequence = ['g', 'e', 'u', 'j', 'k', 's', 'p', 'r']
filtered = list(filter(vowel, sequence))
print (filtered)

## Using lambda functio with filter function

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

In [ ]:
my_list2 = [0, 1, 4, 7, 8, 11, 13, 16]
new_list2 = list(filter(lambda x: (x%2 != 0) , my_list2))

print(new_list2)

## Using None as a Function Inside filter()

In [ ]:
# random list
random_list = [1, 'a', 0, False, True, '0']

filtered_iterator = filter(None, random_list)

#converting to list
filtered_list = list(filtered_iterator)

print(filtered_list)

## Exercise 3

In [ ]:
A = [1, 6, 7, 3, 5, 8]
B = [2, 5, 7, 4, 6, 'A']
X = {'Alan': 100, 'Bob': 75, 'Clark': 60, 'David': 55}

#1 



#2 



#3 



#4

## map

In [ ]:
items = (1, 2, 3, 4, 5)
squared = list(map(lambda x: x**2, items))
print(squared)

## reduce

In [ ]:
from  functools import reduce
items = [1, 2, 3, 4, 5]
product = reduce((lambda x, y: x * y), items)
print(product)

## Exercise 4

In [ ]:
from  functools import reduce
A = [1, 2, 3, 4, 5]
B = [2, 4, 6, 8, 10]

#1


#2


#3


#4