## คำสั่งต่าง ๆ ใน list

In [2]:
mylist = [5717400144, "chatchai"]
mylist.append("Computer Science")
print(mylist)


mylist.insert(2, "Faculty of Science")
print(mylist)

item = mylist.pop(2)
print(item)

mylist.remove("chatchai")
print(mylist)


newlist = mylist.copy()
newlist.reverse()
print(newlist)


mylist.clear()
print(mylist)

[5717400144, 'chatchai', 'Computer Science']
[5717400144, 'chatchai', 'Faculty of Science', 'Computer Science']
Faculty of Science
[5717400144, 'Computer Science']
['Computer Science', 5717400144]
[]

## วิธีการแสดงรายการแต่ละค่าใน list

In [ ]:
mylist = [1, "chatchai",3.5]
print(mylist[0])
print(mylist[1])
print(mylist[2])

#create range of list
print(mylist[0:2])

## วิธีการลบรายการออกจาก list

In [ ]:
mylist = [1, "chatchai",3.5]


mylist.pop(2)  # remove third element from list
mylist.remove("chatchai") # remove chatchai from list
print(mylist)

## วิธีการเพิ่มรายการใหม่เข้าใน list

In [3]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)

# prints out 1,2,3
for x in mylist:    
    print(x)

1
2
3

## วิธีการแก้ไขรายการใน list

In [5]:
Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

print(Rainbow[0])

#Update value in list
Rainbow[0] = 'brown'


print('Print the rainbow')
for i in range(len(Rainbow)):
    print(Rainbow[i])

Red
Print the rainbow
brown
Orange
Yellow
Green
Blue
Indigo
Violet

## วิธีการเพิ่มรายการตามจำนวนที่กำหนดไว้

In [7]:
a = [ ] # start an empty list
n = int(input("Number of Elements: ")) 
for i in range(n):
    newelement = int(input("Enter Element :"))
    a.append(newelement) 

print(a)

Number of Elements: 3
Enter Element :11
Enter Element :22
Enter Element :33
[11, 22, 33]

## การใช้คำสั่ง split ในการสร้าง list

In [8]:
s = input("Enter your name") 
a = s.split() 
print(a)

Enter your nameBunthakan Sirikamonthip
['Bunthakan', 'Sirikamonthip']

In [10]:
a = input("Enter your id: " ).split()
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

Enter your id: 12 32 45 65
[12, 32, 45, 65]

In [ ]:
a = '192.168.0.1'.split('.')
print(a)

## วิธีการใช้คำสั่ง join เพื่อรวมรายการใน list ให้เป็นข้อความเดียวกัน

In [9]:
a = ['red', 'green', 'blue']
print(' '.join(a))

b = [1, 2, 3]
print(' '.join([str(i) for i in b]))

red green blue
1 2 3

## การใช้คำสั่ง for เพื่อสร้างรายการลำดับตัวเลขใน list

In [11]:
a = [0 for i in range(5)]
print(a)

a = [1 for i in range(5)]
print(a)

n = 5
a = [i ** 2 for i in range(1, n + 1)]
print(a)

[0, 0, 0, 0, 0]
[1, 1, 1, 1, 1]
[1, 4, 9, 16, 25]

In [12]:
# random ten numbers from 0 to 9
from random import randrange
n = 10
a = [randrange(1, 10) for i in range(n)]
print(a)



# input three elements into list
a = [input() for i in range(3)]
print(a)

[3, 3, 1, 2, 4, 6, 6, 6, 3, 7]
1
2
3
['1', '2', '3']

## แสดงรายการใน list

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
   print(x)

## ค้นหารายการใน list

In [13]:
name = input("Enter your search name : ")

if name in ["John", "Rick"]:    
  print("Your name is either John or Rick.")
else:
  print("Your name is not found in list.")

Enter your search name : New
Your name is not found in list.