## สร้าง tuple ใหม่

In [1]:
fruits = ("apple", "banana", "cherry")
print(fruits)


fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)


print(len(fruits))
print(type(fruits))

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>

## เข้าถึงรายการใน tuple

In [4]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(fruits[1])
print(fruits[-1])
print(fruits[2:5])
print(fruits[2:])
print(fruits[-4:-1])

fname = input("Your fruit : ")
if fname in fruits:
  print ("Yes, your fruit is in the fruits tuple")
else :
  print("No,your fruit isn't in the fruits tuple")

banana
mango
('cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Your fruit : dasda
No,your fruit isn't in the fruits tuple

## Unpack tuple 

แยกรายการใน tuple ออกเป็นตัวแปรต่าง ๆ

In [5]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Loop Tuple

In [9]:
for f in fruits:
    print (f)

for i in range(len(fruits)):
    print (fruits[i])

apple
banana
cherry
apple
banana
cherry

## Join Tuples

In [8]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples

In [7]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

In [10]:
fruits = ("apple", "banana", "cherry", "apple", "cherry")

print(fruits.count("apple"))
print(fruits.index("banana"))

2
1