## for...else...loop

In [1]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
i = 6
while i > 0:
    print (i)
    i -= 1
else:
    print("Finally finished!")

##โปรแกรมรับจำนวนสินค้าจากคีย์บอร์ด แล้วจัดลงกล่องละ 12 ชิ้น ให้แสดงจำนวนกล่องทั้งหมดที่ต้องการใช้

In [5]:
try :
  goods = int(input("Enter number of goods : "))
  box = goods//12
  remain = goods%12
  if remain>0 :
    box+=1
  print("Number of boxes : ",box)
except ValueError:
  print("Please enter number only")

Enter number of goods : 41
Number of boxes :  4

##  โปรแกรมนับรถยนต์และจักรยานยนต์ของที่รับฝากรถแห่งหนึ่ง ที่รองรับรถยนต์ได้ 10 คัน และจักรยานยนต์  50 คัน

     - รับจำนวนรถยนต์และจักรยานยนต์ที่ต้องการจอดจากคีย์บอร์ดจนกระทั่งใส่จำนวนรถยนต์และจักรยานยนต์เท่ากับ 0 

     - คำนวณที่จอดรถยนต์และจักรยานยนต์ที่เหลือว่างอยู่
     
     - ถ้าที่จอดรถเต็มให้แสดงว่า Parking lot is full. และหยุดโปรแกรม

In [24]:
try :
  Car_cap = 10
  Motor_cap = 50
  while True :
    car = int(input("Enter number of car : "))
    motor = int(input("Enter number of motorcycle : "))
    Car_cap-=car
    Motor_cap-=motor
    if Car_cap>0 and Motor_cap>0:
      print("Remaining lots cars : %d and  motorcycles: %d"%(Car_cap,Motor_cap))
    if car<=0 and motor<=0 :
      print("stop program!!")
      break
    elif Car_cap<=0 or Motor_cap<=0:
      print("Parking lots is full")
      break
    
except ValueError : 
  print("Enter number only!")

Enter number of car : -1
Enter number of motorcycle : -1
Remaining lots cars : 11 and  motorcycles: 51
stop program!!

## Nested Loop

In [ ]:
for i in range (2) :
  print ("row : " , i)
  for j in range (5) :
    print (i, j)
else:
  print("--------END----------")

In [ ]:
i = 1
while i <= 2:
  print ("row : " , i)
  for j in range (5) :
    print (i, j)
  i += 1
print("-------END---------")

## 1. ตารางสูตรผลแม่คูณตั้งแต่แม่ 2 ถึง 5 

## โดยแสดงผลคูณจาก 1 ... 12

In [32]:
try:
  for i in range(2,6):
    for j in range(1,13):
      print(i," x ",j," = ",i*j)
    else:
      print("------------------------")

except ValueError:
  print("Enter number only!")

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
------------------------
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
------------------------
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
------------------------
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
5  x  11  =  55
5  x  12  =  60
------------------------

## 2.  โปรแกรมรับออเดอร์ลูกค้ากี่คนก็ได้ จนกระทั่งเลือก No ในแต่ลออเดอร์รับรายการสั่งซื้อเท่าไหร่ก็ได้จนกว่าเลือก 0

Menu

Coke 20 baht

Milk  15 baht

Tea   20 baht

Water 10 baht

In [62]:
try:
  print("1. Coke 20 baht")
  print("2. Milk 15 baht")
  print("3. Tea 20 baht")
  print("4. Water 10 baht")
  people = True
  menu = True
  while people :
    people = input("New order (Y/N) : ")
    if people.upper()=='N':
      people = False
    elif people.upper()!='Y':
      print("Wrong")
      continue
    amount = 0
    while menu :
      menu = int(input("Choose your menu : "))
      if menu==1 or menu==3:
        amount+=20
      elif menu==2:
        amount+=15
      elif menu==4:
        amount+=10
      elif menu>4:
        print("We don't have this menu")
      elif menu==0:
        menu = False
        print("---------------------")
        print("amount = ",amount)

except ValueError:
  print("")

1. Coke 20 baht
2. Milk 15 baht
3. Tea 20 baht
4. Water 10 baht
New order (Y/N) : u
Wrong
New order (Y/N) : y
Choose your menu : 1
Choose your menu : 2
Choose your menu : 3
Choose your menu : 4
Choose your menu : 5
We don't have this menu
Choose your menu : 6
We don't have this menu
Choose your menu : 0
---------------------
65
New order (Y/N) : n