# 1. สร้างและกำหนดค่าตัวแปร

In [16]:
Name = "Bunthakan"
Age = 18
Weight = 80
Status = True

#print my name
#print("My name is " + Name + ".")
print("I am " + str(Age ) + " years old.")

I am 18 years old.

In [4]:
print("Hello World")
print("This is my first program.")

Hello World
This is my first program.

# 2. ตรวจสอบประเภทค่าข้อมูลของตัวแปร

In [15]:
print(type(Name))
print(type(Age))

print(type(Weight))
print(type(Status))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>

# 3. แปลงค่าตัวแปร

In [17]:

a = 15
b = "25.5"
c = 45.8

d = "my age : " + str(a)
e = 10 * float(b)
f = int(c) / 5

print(d)
print(e)
print(f)

my age : 15
255.0
9.0

# 4. รับค่าตัวแปรจากคียบอร์ดด้วย input function

In [ ]:
print('What is your name?')
name = input() 
print('Hi ' + name + '!')

## 4.1 รับค่าตัวแปรจากคีย์บอร์ดแล้วแปลงเป็นตัวเลขจำนวนเต็มทันที (integer)
*** จะเกิดข้อผิดพลาด (error) เมื่อผู้ใช้งานไม่ได้กรอกค่าตัวเลข ***

In [21]:
age=int(input("What is your age?"))
print (age*365)

What is your age?18
6570

## 4.2 รับค่าตัวแปรจากคีย์บอร์ดแล้วแปลงเป็นตัวเลขจำนวนเต็มทันที (integer)
*** ใช้คำสั่ง Try ... except.. เพื่อป้องกันข้อผิดพลาดในกรณีที่ผู้ใช้งานไม่ได้กรอกตัวเลข แต่ให้แสดงข้อความว่า "กรุณากรอกเป็นตัวเลขเท่านั้น" ***

In [22]:
try:
    value=int(input("Type a number:"))
    print("value : " + str(value))
except ValueError:
    print("กรุณากรอกเป็นตัวเลขเท่านั้น")

Type a number:h
กรุณากรอกเป็นตัวเลขเท่านั้น

# Exercise 1 

รับค่าตัวแปรเลขจำนวนเต็ม a และ b แล้วนำมารวมกัน

In [29]:
try :
  a = int(input("a = ")) #ใช้ int เนื่องจากโจทย์บังคับให้เป็นจำนวนเต็ม
  b = int(input("b = "))
  ans = a+b
  print("answer = " , ans)
except ValueError :
  print("โปรดใส่ตัวเลขเท่านั้น")

a = 15
b = 29
answer =  44

# Exercise 2
เขียนโปรแกรมหาพื้นที่สี่เหลี่ยม โดยรับค่าจำนวนทศนิยมเป็นค่าความกว้าง (Width) และความสูง (Height) แล้วแสดงผลลัพธ์

In [31]:
try :
  Width = float(input("Width = "))#ใช้ float เนื่องจากโจทย์บังคับให้เป็นจำนวนเต็ม
  Height = float(input("Height = "))
  Area = Width * Height
  print("Area = " , Area)
except ValueError :
  print("โปรดใส่ตัวเลขเท่านั้น")

Width = 5
Height = 15
Area =  75.0

## Exercise 3
เขียนโปรแกรมอัตราสิ้นเปลืองเชื้อเพลิงของรถยนต์ ให้กรอกระยะทางเป็นกิโลเมตร(distance) และจำนวนลิตรที่ใช้ในการเดินทาง (litre) แล้ว
แสดงอัตราสิ้นเปลืองหน่วยกิโลเมตรต่อลิตร (comsume)

In [37]:
try :
  distance = float(input("ระยะทางที่เดินทาง(กิโลเมตร) = "))#ใช้ float เนื่องจากระยะทางและจำนวนลิตรของน้ำมันอาจจะมีเศษ
  litre = float(input("จำนวนน้ำมันที่ใช้ในการเดินทางทั้งหมด(ลิตร) = "))
  consume = distance/litre
  print("อัตราสิ้นเปลือง = " , consume , "กิโลเมตรต่อลิตร")
except ValueError :
  print("โปรดใส่ตัวเลขเท่านั้น")

ระยะทางที่เดินทาง(กิโลเมตร) = 150
จำนวนน้ำมันที่ใช้ในการเดินทางทั้งหมด(ลิตร) = 25
อัตราสิ้นเปลือง =  6.0 กิโลเมตรต่อลิตร

## Exercise 4
เขียนโปรแกรมทอนเงินจากการขายสินค้า โดยกำหนดให้สินค้าชิ้นละ 250 บาท ให้กรอกจำนวนชิ้นสินค้า (items) และจำนวนเงินที่ลูกค้าจ่าย (Money) แล้ว
แสดงจำนวนเงินที่ทอน (changes)

In [35]:
try :
  price = int(250)
  items = int(input("โปรดกรอกจำนวนที่ต้องการ : "))#จำนวนของที่ต้องการไม่สามารถเป็นเศษได้จึงใช้ int
  Money = float(input("จำนวนเงินที่จ่าย : " ,))#อาจมีการจ่ายแบบเป็นเศษเงินจึงใช้ float
  changes = Money - (price * items)
  print("เงินทอน = " , changes , "บาท")
except ValueError :
  print ("โปรดใส่ตัวเลขเท่านั้น")

โปรดกรอกจำนวนที่ต้องการ : 5
จำนวนเงินที่จ่าย : 1500
เงินทอน =  250.0 บาท